.image_center {
  object-fit: cover;
  object-position: center;
}
.dev_dp_cover .cover {
  z-index: -999;
}
.dev_dp_cover .dp {
  margin-left: 13px;
}
.dev_dp_cover .dp img {
  z-index: 1000;
  margin-top: -90px;
}

/* Loder CSS */
.loader {
  width: 35px;
  height: 35px;
}
.comment-loader {
  width: 30px;
  height: 30px;
}
.react-tag-input {
  font-size: 13px;
  margin-top: 5px;
}
